Flask
flask-cors
Flask-SQLAlchemy
psycopg2-binary
SQLAlchemy
gunicorn
requests


fastapi==0.115.6

# BM25 retrieval (קל מאוד במשאבים)
rank-bm25==0.2.2

# Rerank API (חיצוני, לא צורך RAM/CPU משמעותי)
cohere==5.13.11

